<div class="container-fluid px-5 py-3 text-right text-primary">
    <div class="row">
        <div class="col">
            <div class="fs-5">HYDERABAD Sthiram Cunsultancy</div>
            <div class="fs-5">Q-3, 7th Floor, #123/A/1</div>
            <div class="fs-5">Madhapur, Hyderabad</div>
            <div class="fs-5">Telangana State, India, 500081</div>
        </div>
        <div class="col">
            <div class="fs-5">SYDNEY Sthiram Cunsultancy</div>
            <div class="fs-5">Q-3, 7th Floor, #123/A/1</div>
            <div class="fs-5">Madhapur, HYderabad</div>
            <div class="fs-5">TG State, Australia, 500081</div>
        </div>
        <div class="col">
            <div class="fs-5">NEWYORK Sthiram Cunsultancy</div>
            <div class="fs-5">Q-3, 7th Floor, #123/A/1</div>
            <div class="fs-5">Madhapur, HYderabad</div>
            <div class="fs-5">UNITATED States, India, 500081</div>
        </div>
        <div class="col">
            <div class="fs-5">CANADA Sthiram Cunsultancy</div>
            <div class="fs-5">Q-3, 7th Floor, #123/A/1</div>
            <div class="fs-5">West Vancouver BC, HYderabad</div>
            <div class="fs-5">Telangana State, India, 98230</div>
        </div>
    </div>
</div>