<div class="container-fluid bg-custom">


</div>
<div class="pb-1">
    <ul class="nav nav-tabs fs-4 bg-dark">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="hoome">Home</a>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn btn-dark fs-4" type="button" data-bs-toggle="dropdown">
                    Records
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item fs-5" href="#">Operations Inbox</a></li>
                    <li><a class="dropdown-item fs-5" href="#">Provider Bills Inbox</a></li>
                    <li><a class="dropdown-item fs-5" href="#">Fax Inbox</a></li>
                    <li><a class="dropdown-item fs-5" href="#">Case Entry</a></li>
                    <li><a class="dropdown-item fs-5" href="#">My Case Load</a></li>
                    <li><a class="dropdown-item fs-5" href="#">Open Cases</a></li>
                    <li><a class="dropdown-item fs-5" href="#">All Cases</a></li>
                    <li><a class="dropdown-item fs-5" href="#">Outstanding To Do's</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn btn-dark fs-4" type="button" data-bs-toggle="dropdown">
                    Reports
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item fs-5" href="#">Statistical Reports</a></li>
                    <li><a class="dropdown-item fs-5" href="#">Performance Reports</a></li>
                    <li><a class="dropdown-item fs-5" href="#">Negotiation report</a></li>
                    <li><a class="dropdown-item fs-5" href="#">Ad Hoc Reports</a></li>
                    <li><a class="dropdown-item fs-5" href="#">Outstanding Fees</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn btn-dark fs-4" type="button" data-bs-toggle="dropdown">Maintenance</button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item fs-5" href="#">System Access Administration</a></li>
                    <li><a class="dropdown-item fs-5" href="#">Principal & Location Records</a></li>
                    <li><a class="dropdown-item fs-5" href="#">Statistical Category Selections</a></li>
                    <li><a class="dropdown-item fs-5" href="#">Database Administration</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="help">Help</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="search">Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="login">Logout</a>
        </li>
    </ul>
</div>
<div class="border border-black bg-primary text-white mb-1">
    <span class="p-4 mx-auto fs-5 lh-base">
        Mega Assitance Promotes a climate of co-operationand loyalty amoungst its Assitance Coordinators, partners and
        providers,
        which encouraces excellence and guarantees a level of service which exceed the expectations of its clients and
        customers
    </span>
</div>
<div class="bg-danger text-white fs-4 text-center p-1">
    <span>By Date Record | By Case # | By Beneficiary | By Case Owner | By Team Responsible</span>
</div>